* {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 42px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactme{
    display: flex;
    align-items: center;
    gap: 8px;
}

.social__icons{
    height: 24px;
    transition: .2s ease;
}

.social__icons:hover{
    transform: scale(120%);
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 8px;
}

input{
    border-radius: 5px;
    border: 1px solid #222;
    height: 28px;
}

textarea{
    border-radius: 5px;
    border: 1px solid #222;
    width: 295px;
    height: 250px;
    
    resize: none;
}

#submit_btn{
    height: 40px;
    border-radius: 5px;
    border: 1px solid #222;
}

#submit_btn:hover{
    color: #fff;
    background-color: #222;
}

.messages_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer{
    display: flex;
    justify-content: center;
}